nav a {
    text-decoration: none;
    font-size: 25px;
    margin-left: 20px;
    padding: 20px;
    margin-top: 10px;
    color: white;


}

nav a:hover {
    color: orange;
}

.main {
    background-color: #46B2E0;
    padding: 20px;

}